body{
    background-color: #272b30;
        padding-top: 100px; 
}
.font{
    font-family: "Nerko One", cursive;
}
nav h1{
    font-weight:500;
}
nav{
    background-color: rgb(58, 73, 123)!important;
    z-index: 999;
}
.card{
    background-color: #272b30;
    transition: all 0.5s;
    height: 100%;
}
.card:hover{
    transform:scale(1.05,1.05);
}
.card:hover button{
    background-color:rgb(13, 110, 253)!important;
}
.card button{
    background-color: rgb(58, 73, 123)!important;
    height: fit-content;
}
.card img{
    width: 90%!important;
   
}
.card-footer{
    font-size: small;
}
.nav-link{
    transition: all 0.4s;
}
.nav-link:hover{
    color: #09c !important
}
.items2 button{
    transition: all 1s;
}
.items2 button:hover{
    background-color: orange!important;
}
.items2 img{
    width: 50%;
}
.loader {
    position: relative;
    width: 150px;
    height: 150px;
    top: 100px;
  }
  
  .loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }
  .nav-link.active {
    color: #09c !important;
}